---
import Logo from "../assets/logo.svg";
import RootLayout from "./RootLayout.astro";
import CartLink from "../components/cart-link";
import SearchInput from "../components/search-input";
import FloatingMobileNavigation from "../components/floating-mobile-nav";
import NavLink from "../components/nav-link.astro";

const pathname = Astro.url.pathname

const { title, description } = Astro.props;
---

<RootLayout title={title} description={description}>
    <section class="w-full min-h-screen bg-gradient-to-br from-[#e4e7e4]/20 to-[#727a9a]/30">
        <div class="mx-auto w-full max-w-screen-lg">
            <div class="p-4 flex items-center justify-between gap-4">
                <div class="flex items-center justify-center gap-4">
                    <a href="/">
                        <Logo width={32} height={32} fill="currentColor" />
                    </a>

                    <NavLink href="/" label="Products" pathname={pathname} />
                    <NavLink href="/blog" label="Blog" pathname={pathname} />
                    <NavLink href="/about" label="About" pathname={pathname} />
                </div>

                <SearchInput pathname={pathname} client:load />

                <div class="flex items-center justify-center gap-4">
                    <NavLink href="/support" label="Need help shopping?" pathname={pathname} />
                    <CartLink pathname={pathname} client:load />
                    
                </div>
            </div>

            <slot />

            <FloatingMobileNavigation client:load />
        </div>
    </section>
</RootLayout>